<div class="container">
<div class=" row">
  <div class="col-md-3">
  <%= render 'users/form',user:@user %>
  </div>
  <div class="offset-md-1 col-md-8 ">
    <h2>Book detail</h2>
    <table class="table">
      <tr>
        <td >
          <%= link_to user_path(@book_detail.user_id) do%>
            <%= image_tag @book_detail.user.get_profile_image(100,100)%>
          <%end%>
          <p><%= link_to @book_detail.user.name ,user_path(@book_detail.user_id)%></p>
        </td>
        <td class="text-primary">
          <%= @book_detail.title%>
        </td>
        <td>
          <%= @book_detail.body%>
        </td>
        <% if @book_detail.user_id==current_user.id %>
          <td >
            <%= link_to "Edit",edit_book_path(@book_detail.id),class:"btn btn-success " %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book_detail.id) ,method: :delete, class: "btn btn-danger", "data-confirm"=>"本当に消しますか?"%>
          </td>
        <%end%>
      </tr>
    </table>
  </div>
</div>
</div>

