<div class="container">
  <div class=" row">
    <div class="col-md-3">
      <%= render 'users/form',user:@user %>
    </div>
    <div class="offset-md-1 col-md-8 ">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td >
            <%= link_to user_path(@book_detail.user_id) do%>
              <%= image_tag @book_detail.user.get_profile_image(100,100)%>
            <%end%>
            <p><%= link_to @book_detail.user.name ,user_path(@book_detail.user_id)%></p>
          </td>
          <td class="text-primary">
            <%= @book_detail.title%>
          </td>
          <td>
            <%= @book_detail.body%>
          </td>
          <td>
            <% if @book_detail.favorited_by?(current_user) %>
              <p>
                <%= link_to book_favorites_path(@book_detail),method: :delete do%>
                  <i class="fa-solid fa-heart text-danger"></i>
                  <%= @book_detail.favorites.count%>
                <%end%>
              </p>
            <%else%>
              <p>
                <%= link_to book_favorites_path(@book_detail),method: :post do%>
                  <i class="fa-solid fa-heart "></i>
                  <%= @book_detail.favorites.count%>
                <%end%>
              </p>
            <%end%>
          </td>
          <td>
            コメント数:<%= @book_detail.book_comments.count%>
          </td>
          <% if @book_detail.user_id==current_user.id %>
            <td >
              <%= link_to "Edit",edit_book_path(@book_detail.id),class:"btn btn-success " %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book_detail.id) ,method: :delete, class: "btn btn-danger", "data-confirm"=>"本当に消しますか?"%>
            </td>
          <%end%>
        </tr>
      </table>

<table>
  <thead>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
 <% @book_detail.book_comments.each do |book_comment|%>
    <tr>
      <td>
<%= image_tag book_comment.user.get_profile_image(100,100)%>
<p>

<%= book_comment.user.name%>
</p>
      </td>
      <td>
 <p><%= book_comment.comment%></p>
      </td>
      <td>
        <% if current_user.id==book_comment.user_id %>
<%= link_to "Destroy",book_book_comment_path(book_comment.book,book_comment),method: :delete ,class:"btn btn-danger"%>
        <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
    
     
    
     
      
      <%= form_with model: [@book_detail,@book_comment] do |f|%>
        <label for="comment"><%= @book_detail.title%></label>
        <%= f.text_area :comment ,id:"comment",class:"form-control"%>
        <%= f.submit "送信"%>
      <%end%>
    </div>
  </div>
</div>
